# mac/linux

HOST_PATH=hynt.us
HOST_PROJECT=hynt-web
APP_DOMAIN=hynt.us
APP_NAME=hynt
APP_SHORT_NAME=hynt
APP_DESCRIPTION="link shortener with api keys"
PORT=9430
DB_NS=hynt
DB_DB=hynt
DB_USER=root
DB_PASS=root
DB_PORT=9431
DB_HOST=http://127.0.0.1
DB_SQL_URL=http://127.0.0.1:9431/sql
DB_RPC_URL=http://127.0.0.1:9431/rpc
META_SERVICE=hynt-web
MAILGUN_DOMAIN=mg.hynt.us
MAILGUN_API_KEY=abc
FROM_EMAIL=hello@hynt.us
EMAIL=hello@hynt.us
PHONE=+1-888-690-2204




# windows (copy to .env.local.bat)

set HOST_PATH=hynt.us
set HOST_PROJECT=hynt-web
set APP_DOMAIN=hynt.us
set APP_NAME=hynt
set APP_SHORT_NAME=hynt
set APP_DESCRIPTION="link shortener with api keys"
set PORT=9430
set DB_NS=hynt
set DB_DB=hynt
set DB_USER=root
set DB_PASS=root
set DB_PORT=9431
set DB_HOST=http://127.0.0.1
set DB_SQL_URL=http://127.0.0.1:9431/sql
set DB_RPC_URL=http://127.0.0.1:9431/rpc
set META_SERVICE=hynt-web
set MAILGUN_DOMAIN=mg.hynt.us
set MAILGUN_API_KEY=abc
set FROM_EMAIL=hello@hynt.us
set EMAIL=hello@hynt.us
set PHONE=+1-888-690-2204


