[Unit]
Description=profullstack-web
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
WorkingDirectory=/home/ubuntu/www/profullstack.com/profullstack-web/
ExecStart=/home/ubuntu/www/profullstack.com/profullstack-web/bin/start.sh
StandardOutput=append:/var/log/profullstack-web.log
StandardError=append:/var/log/profullstack-web.error.log

[Install]
WantedBy=multi-user.target
