[Unit]
Description=zymo-web
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
WorkingDirectory=/home/ubuntu/www/zymo.tv/zymo-web/
ExecStart=/home/ubuntu/www/zymo.tv/zymo-web/bin/start.sh
StandardOutput=append:/var/log/zymo-web.log
StandardError=append:/var/log/zymo-web.error.log

[Install]
WantedBy=multi-user.target
