:root {
	--body-background-color: #141414;
	--player-background-color: #222;
	--body-color: #fff;
	--link-color: #fff;
	--sidebar-nav-color-hover: #fff;
	--nav-background-color: #141414;
	--nav-border-color: #2f2f2f;
	--sidebar-border-color: #2f2f2f;
	--global-nav-link-color: #fff;
	--button-background-color: #672ad6;
	--button-color: #fff;
	--button-border-color: #672ad6;
	--form-field-border-color: #303030;
	--form-field-color: #000;
	--form-field-placeholder-color: #888;
	--form-field-background-color: #fff;
	--form-field-active-border-color: #000;
	--form-fieldset-background-color: #f3f3f3;
	--form-legend-background-color: #fff;
	--spinner-color: #672ad6;
}
